/*--------------------/
/---- soluções vc ----/
/--------------------*/

.for-you {
    margin: 3vw 20vw;
}

.for-you-text {
    font-family: Swanky and Moo Moo;
    font-size: 4vw;
    color: var(--green-strong);
    text-align: center;
}

@media screen and (max-width:780px) {
    .for-you-text {
        font-size: 7vw;
    }    

    .for-you {
        margin: 3vw 10vw;
    }
}